@use '@angular/material' as mat;

.login-main {
    background-color: rgb(117, 66, 117);
    height: 100%;
    width: 100%;

    .login-card {
        position: absolute;
        right: 10%;
        top: 30%;
        padding: 2rem;
        color: white;

        .header {
            padding-left: 0;
        }

        .content {
            padding-top: 2rem;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            *{
                font-size: 0.75rem;
            }
            form-field {
                border-radius: 0;
            }
        }

        .actions {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            button {
                border-radius: 0;
                padding: 0;
            }
            .error-msg{
                bottom: 5%;
                // margin-top: 0.5rem;
                font-size: 0.75rem;
                font-family: 'Roboto';
                position: absolute;
            }
        }
    }

}