@use "../../../styles";
nav {
  position: static;
  display: flex;
  flex-direction: row;
  background: #222222;
  padding-left: 15px;
  height: 50px;
  justify-content: space-between;

  li {
    list-style-type: none;
    span {
      @extend .major-mono-display-regular;
      color: white;
      display: block;
      user-select: none;
      font-size: 2.5rem;
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
  a {
    color: white;
    cursor: pointer;
    // height: 100%;
    padding: 15px;
    text-decoration: none;
  }
}

.nav-list a:hover, .selected {
  background-color: #3a3a3a;
}
